<body>
<header>
		<div class="row">
			<div class="logo">
				<img src="assets/factoryglam.jpg">
			</div>
				<ul class="main-nav">
					<li><a href="">HOME</a></li>
					<li><a href="">ABOUT US</a></li>
					<li><a href="">SHOWROOM</a></li>
					<li><a href="">CONTACT US</a></li>
				</ul>
		</div>

		<div class="glam">
			<h1>THE RULES OF BEAUTY<br>HAVE CHANGED!</h1> 
			<div class="button">
				<a href="" class="btn btn-half">Show Me More</a>
			</div>
		</div>
	</header>


	<section class="about"> 
		<h3 class="text-center">FACTORY GLAM, LIVING LIFE TO THE FULLEST<h3>
		
		<p class="founded">Established in 2013, by beauty professionals and product developers. FACTORY GLAM is an American privately owned cosmetic company that sells color cosmetics and skin care products, along with our own cosmetic brand.</p>

<div class="container">
	<div class="row">
	<div class="col-md-3">
	<h4 class="headings">Our Beginnings</h4>
		<p class="arranging">Our mission is to introduce a niche range of independent beauty products for color cosmetics and skin care. We want to make sure our fingers are on the pulse for anything that has to do with outstanding formulations and innovations for independent color cosmetics and skin care products.
		</p>
	</div>

	<div class="col-md-3">
		<h4 class="headings">Our Philosophy</h4>
		<p class="arranging">Our mission is to introduce a niche range of independent beauty products for color cosmetics and skin care. We want to make sure our fingers are on the pulse for anything that has to do with outstanding formulations and innovations for independent color cosmetics and skin care products.
		</p>
	</div>

	<div class="col-md-3">
	 	<h4 class="headings">Our Vision</h4>
		<p class="arranging">Our mission is to introduce a niche range of independent beauty products for color cosmetics and skin care. We want to make sure our fingers are on the pulse for anything that has to do with outstanding formulations and innovations for independent color cosmetics and skin care products.
		</p>
	</div>

	<div class="col-md-3">
		<h4 class="headings">Our Goal</h4>
		<p class="arranging">Our mission is to introduce a niche range of independent beauty products for color cosmetics and skin care. We want to make sure our fingers are on the pulse for anything that has to do with outstanding formulations and innovations for independent color cosmetics and skin care products.
		</p>
	</div>
	
	</div>
	</div>

	</section>

	<section class="products">
		<ul class="products-showcase">
			<li>
				<figure class="product-photo">
					<img src="assets/makeup3.jpg">
				</figure>
			</li>
			<li>
				<figure class="product-photo">
					<img src="assets/makeup3.jpg">
				</figure>
			</li>
			<li>
				<figure class="product-photo">
					<img src="assets/makeup3.jpg">
				</figure>
			</li>
			<li>
				<figure class="product-photo">
					<img src="assets/makeup3.jpg">
				</figure>
			</li>
			<li>
				<figure class="product-photo">
					<img src="assets/makeup3.jpg">
				</figure>
			</li>
			<li>
				<figure class="product-photo">
					<img src="assets/makeup3.jpg">
				</figure>
			</li>
			<li>
				<figure class="product-photo">
					<img src="assets/makeup3.jpg">
				</figure>
			</li>
			<li>
				<figure class="product-photo">
					<img src="assets/makeup3.jpg">
				</figure>
			</li>
		</ul>
	</section>

	<section class="showroom">
		<h3 class="text-center">Come Visit Our Showroom</h3>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="pic">
						<img src="assets/showroom.jpg">
						</div>
					</div>
			<div class="col-md-6">
				<div class="showtext">
					<div class="showicon1"><img src="assets/showroom1.jpg">
				<p class="see">Our FACTORY GLAM showroom caters to women and men. Our Showroom is a physical shopping experience with product developers and beauty experts.</p><br>

				<p class="see">Our FACTORY GLAM showroom caters to women and men. Our Showroom is a physical shopping experience with product developers and beauty experts.</p><br>

				<p class="see">Our FACTORY GLAM showroom caters to women and men. Our Showroom is a physical shopping experience with product developers and beauty experts.</p><br>
					<div class="showicon2"><img src="assets/showroom1.jpg">
					</div>
				</div>
				</div>
			</div>
	</section>

	<section class="upcoming">
		<h3 class="text-center">Upcoming Events</h3>
			<div class="darkpic">
				<div class="container">
					 <div class="row"> 
						<div class="col-md-6">
							<!-- <p class="events">August 14, 2017<br>Open House<br>Dallas Entreprenur Center<br>3456 Davis Street<br>Dallas, Tx 75034</p>
								<div class="rsvpbutton">
									<a href="" class="rsvpbtn btn-half">RSVP</a>
									</div> -->
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
										<p class="events">August 14, 2017<br>Open House<br>Dallas Entreprenur Center<br>3456 Davis Street<br>Dallas, Tx 75034</p>
									<div class="rsvpbutton">
									<a href="" class="rsvpbtn btn-half">RSVP</a>
									</div>
							
								</div>
								<div class="col-md-6">
										<p class="events">August 14, 2017<br>Open House<br>Dallas Entreprenur Center<br>3456 Davis Street<br>Dallas, Tx 75034</p>
									<div class="rsvpbutton">
									<a href="" class="rsvpbtn btn-half">RSVP</a>
									</div>
							
								</div>
								<div class="col-md-6">
										<p class="events">August 14, 2017<br>Open House<br>Dallas Entreprenur Center<br>3456 Davis Street<br>Dallas, Tx 75034</p>
									<div class="rsvpbutton">
									<a href="" class="rsvpbtn btn-half">RSVP</a>
									</div>
							
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
	</section>

	<section class="form">
		<div class="container">
			<h3 class="text-center">FEEL FREE TO CONTACT US</h3>
		</div>

		<div class="row gap">
			<div class="col-md-4">
				<input type="text" placeholder="First Name" class="form-control"><br>
				<input type="text" placeholder="Last Name" class="form-control"><br>
				<input type="text" placeholder="Contact Number" class="form-control"><br>
				<input type="Email" placeholder="Email" class="form-control"><br>

			</div>

			<div class="col-md-8">
				<textarea class="form-control" rows="8" placeholder="Comments"></textarea>
				<button class="btn btn-warning btn-block">Submit</button>
			</div>
		</div>
		

	</section>

	<footer class="site-footer">
		<div class="container">
			<div class="text-center">
			   <p>311 N Market St.<br>Suite 200/3rd Floor<br>Dallas, TX 75202<br>Office 972-827-8967<br>info@factoryglam.com</p>
			</div>
		</div> 
		    <div class="container text-center">
				    <a href="#"><i class="fa fa-facebook"></i></a>
				    <a href="#"><i class="fa fa-twitter"></i></a>
				    <a href="#"><i class="fa fa-linkedin"></i></a>
				    <a href="#"><i class="fa fa-google-plus"></i></a>
				    <a href="#"><i class="fa fa-skype"></i></a>
			</div>
			<div class="text-center">
			<p>copyright 2017</p>
			</div>
	</footer>




</body>